{{extend "layout.html"}}
<div id="home">
<h2>{{=response.title}}</h2>
<div id="form-container">
<!-- Ext will render form here -->
</div>
{{if self_registration:}}
    <p>
        <a class="action-btn" href="{{=URL(r=request, args="register")}}">{{=T("Register")}}</a>
    </p>
{{pass}}
    <p>
        <a class="action-btn" href="{{=URL(r=request, args="retrieve_password")}}">{{=T("Lost Password")}}</a>
    </p>
</div>
{{include "ext.html"}}
<script type="text/javascript">//<![CDATA[
Ext.onReady(function(){

    Ext.QuickTips.init();

    {{include "extform.js"}}
});
//]]></script>