{{extend 'layout.html'}}
<h2>{{=T("About Sahana Eden")}}</h2>
<div class='item-container'>
<table>
<tr><td>
<strong>Core Components</strong>
</td><td>
<strong>Version</strong>
</td></tr>
<tr><td>
Sahana Eden
</td><td>
{{=sahana_version}}
</td></tr>
<tr><td>
Web Server
</td><td>
{{=request.env.server_software}}
</td></tr>
<tr><td>
Web2Py
</td><td>
{{=web2py_version}}
</td></tr>
<tr><td>
Python
</td><td>
{{=python_version}}
</td></tr>
<tr><td>
<strong>Available Database Engines</strong>
</td><td>
</td></tr>
<tr><td>
SQLite
</td><td>
{{=sqlite_version}}
</td></tr>
<tr><td>
MySQL
</td><td>
{{=mysql_version}}
</td></tr>
<tr><td>
PostgreSQL
</td><td>
{{=pgsql_version}}
</td></tr>
<tr><td>
<strong>Other Components</strong>
</td><td>
</td></tr>
<tr><td>
Python MySQLdb
</td><td>
{{=pymysql_version}}
</td></tr>
<tr><td>
ReportLab
</td><td>
{{=reportlab_version}}
</td></tr>
<tr><td>
xlwt
</td><td>
{{=xlwt_version}}
</td></tr>
</table>
</div>
<p>&nbsp;</p>
{{if auth.has_membership(1):}}
<strong>{{=A(T("Internal State"),_href=URL(r=request,c='appadmin',f='state'))}}</strong>: {{=T("Request, Response & Session")}}
{{pass}}
