<div id='table-container'>
    <form method="POST" action="">
    <table>
        <tr>
            <th>CSV Header</th>
            <th>Destination Field</th>
        </tr>
        {{for idx, header in enumerate(job.column_map):}}
        <tr>
            <td>{{=header[0]}}</td>
            <td>
                <select name="column_map_{{=idx}}">
                {{for field in model_fields:}}
                <option value="{{=field}}"{{=header[1]==field and ' selected' or ''}}>{{=field}}</option>
                {{pass}}
            </td>
        </tr>
        {{pass}}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Begin Processing"></td>
        </tr>
    </table>
    </form>
</div>
