{{extend 'layout.html'}}
{{=H2(title)}}
{{=P(description)}}
{{=P(A(T("Edit User"),_href=URL(r=request,f='user',args=('update',user))))}}
{{try:}}
 {{=H3(subtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
<div id='table-container'>
{{try:}}
 {{=items}}
{{except:}}
{{pass}}
</div>
</div>
<p>&nbsp;</p>
{{try:}}
 {{=H3(addtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
{{pass}}
</div>
{{include 'key.html'}}
<script type="text/javascript">//<![CDATA[
$(function() {
    // Set the Crud dropdown to the current User
    var options = '<option value="' + {{=user}} + '"></option>';
    $("#auth_membership_user_id").html(options);
    // Hide the dropdown
    $("#auth_membership_user_id__row").hide();
    });
//]]></script>
