{{extend 'layout.html'}}

<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("The")}} {{=T(module_name)}} {{=T("module allows the site administrator to configure various options.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
 <li>{{=T('Configure Run-time Settings')}}
 <li>{{=T('Manage Users & Roles')}}
 <li>{{=T('Import & Export Data')}}
 <li>{{=T("View/Edit the Database directly (caution: doesn't respect the framework rules!)")}}
 <li>{{=T('Edit the Application')}}
 <li>{{=T('Run Functional Tests')}}
</ul>
</div>
