<!--When in Debug mode we want each style to download separately-->

<!--Web2Py Layer-->
<link href="/{{=request.application}}/static/styles/web2py/calendar.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />

<!--T2 Layer-->
<link href="/{{=request.application}}/static/styles/T2/t2.css" rel="stylesheet" type="text/css" charset="utf-8" />
<!--
<link href="/{{=request.application}}/static/styles/T2/rating.css" rel="stylesheet" type="text/css" charset="utf-8" />
-->

<!--S3 Layer-->
<link href="/{{=request.application}}/static/styles/S3/sahana.css" rel="stylesheet" type="text/css" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.cluetip.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.dataTables.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.jqplot.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.ui.core.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.ui.datepicker.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.ui.theme.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/ajaxS3.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/s3.multiselect.widget.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
<link href="/{{=request.application}}/static/styles/S3/jquery.multiSelect.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />

<!--Ext Stylesheet would need it's images moving if compressed up & relocated-->
<link rel="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext/resources/css/ext-all.css" />
<!-- For Sites Hosted on the Public Internet, using Cachefly CDN's version of ExtJS may provide better performance
<link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.2.1/resources/css/ext-all.css" />
-->
