{{extend 'layout.html'}}
<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("The")}} {{=T(module_name)}} {{=T("System keeps track of all Volunteers working in the disaster region. It captures not only the places where they are active, but also captures information on the range of services they are providing in each area.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Registering ad-hoc volunteers willing to contribute")}}</li>
<li>{{=T("Capturing the essential services each Volunteer is providing and where")}}</li>
<li>{{=T("Choosing Skill and Resources of Volunteers")}}</li>
</ul>
</div>
