{{extend 'layout.html'}}
<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("This module assists the management of fatalities and the identification of the deceased.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>Reporting of body finds and management of recovery</li>
<li>Tracking and Tracing of bodies</li>
<li>Capturing of identification-relevant information</li>
<li>Management of identification process</li>
<li>Matching of ID information with Missing Reports (not yet implemented)</li>
</ul>
</div>
