# Crontab - scheduled tasks
# Import data into database at startup (not used)
#@reboot root *applications/eden/cron/1st_run.py
# Collect Inbound SMS
#@reboot root *applications/eden/cron/sms_handler_modem.py
# Synchronisation
#@reboot root *sync/schedule_cron
# Send outgoing emails every 5 minutes
#*/5   *       *       *       *       root *msg/process_email_via_api
# Send outgoing SMS every 5 minutes
#*/5   *       *       *       *       root *msg/process_sms_via_api
# Collect incoming emails every 15 minutes
#*/15  *       *       *       *       root *applications/eden/cron/email_receive.py
# Process Import Jobs (deprecated)
#*/5    *       *       *       *       root *applications/eden/cron/import_job_do_processing.py
#*/5    *       *       *       *       root *applications/eden/cron/import_job_do_import.py
# Poll RMS Feeds (Haiti-specific)
#*/5   *       *       *       *       root *applications/eden/cron/rms_sms2record.py
#*/5   *       *       *       *       root *applications/eden/cron/rms_tweet2request.py