{{extend "layout.html"}}
<div id='home'>

{{=H2(T(module_name))}}

    <div class='col2left'>
      <div class='question-container' style='float:right;'>
        <a href='{{=URL(r=request, f="req", args="create")}}' style='text-decoration: none;'>
                {{=T("Make a Request")}}
        </a>
      </div>
    </div>
    <div class='col2right'>
      <div class='question-container' style='float:left;'>
      {{if not auth.is_logged_in():}}
          <a href='{{=URL(r=request, c="default", f="user", args="login")}}' style='text-decoration: none;'>
            {{=T("Pledge Aid")}}<br />
            <div style='font-size: 0.875em;'>({{=T("Requires login")}})</div>
          </a>
      {{else:}}
          <a href='{{=URL(r=request, f="req")}}' style='text-decoration: none;'>
            {{=T("Pledge Aid")}}
          </a>
      {{pass}}
      </div>
    </div>

    <div style='position:relative;'>
        <div class='col2left'>
            <h4>{{=("ABOUT")}}</H4>
            {{=T("The")}} {{=T(module_name)}} {{=T("System is a central online repository where all relief organizations, relief workers, government agents and camp sites for displaced personnel can coordinate the supply of aid with their demand. It allows users to allocate the available resources to fulfill the demands effectively and efficiently.")}} 
        </div>
    
        <div class='col2right'>
            <h3>
                {{=T("Features Include")}}:
            </h3>
            <ul>
                <li>
                    <a href='{{=URL(r=request, f="req")}}'>View Requests for Aid</a>
                </li>
            
                <li>
                    Pledge Aid to match these Requests
                    {{if not auth.is_logged_in():}}
                    (requires a login - please <a href='{{=URL(r=request, c="default", f="user", args="register")}}'>register</a>)
                    {{pass}}
                </li>
                <li>
                    Make a Request for Aid</a></li>
                    <!--
                    <li>{{=T("Basic information on the requests and donations, such as category, the units, contact details and the status.")}}</li>
                    <li>{{=T("Customisable category of aid")}}</li>
                    <li>{{=T("Filtered search of aid pledges and requests")}}</li>
                    <li>{{=T("Ability to track partial fulfillment of the request")}}</li>
                    -->
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
