{{extend 'layout.html'}}
<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("The")}} {{=T(module_name)}} {{=T("is an online bulletin board of missing and found people. It captures information about the people missing and found, as well as information of the person seeking them, increasing the chances of people finding each other. For example if two members of a family unit is looking for the head of the family, we can use this data at least to connect those two family members.")}} 
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Submitting information about the individual such as identification numbers, physical appearance, last seen location, status, etc")}}</li>
<li>{{=T("'Sounds-like' name search allowing search even the spelling of the name is not known exactly")}}</li>
<li>{{=T("Facilitate uploading of missing person's photograph")}}</li>
<li>{{=T("Grouping by 'Family Unit' or other group category")}}</li>
</ul>
</div>
