{{extend 'layout.html'}}
<div id="home">
{{=H2(T(module_name))}}
<p>
<strong><i>"{{=T("Who is doing what and where")}}"</i></strong>
</p>
<p>
{{=T("The")}} {{=T(module_name)}} {{=T("keeps track of all the relief organizations working in the disaster region. It captures not only the places where they are active, but also captures information on the range of projects they are providing in each area.")}}</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Capturing organizational information of a relief organization and all the projects they have in the region")}}</li>
<li>{{=T("Capturing the projects each organization is providing and where")}}</li>
<li>{{=T("Reporting on the projects in the region")}}</li>
<li>{{=T("Importantly where there are no aid services being provided")}}</li>
</ul>
</div>
