{{extend 'layout.html'}}
<div id="home">
{{=H2(T(module_name))}}
<p>
{{=T("The")}} {{=T(module_name)}} {{=T(" is envisioned to be composed of several sub-modules that work together to provide complex functionality for the management of relief and project items by an organization. This includes an intake system, a warehouse management system, commodity tracking, supply chain management, fleet management, procurement, financial tracking and other asset and resource management capabilities.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Manage Warehouses/Sites")}}</li>
<li>{{=T("Manage Relief Item Catalogue")}}</li>
<li>{{=T("Intake Items")}}</li>
<li>{{=T("Inventory Management")}}</li>
</ul>
</div>
